.App {
  text-align: center;
}

.card {
  background-color: grey;
  color: white;
  padding:2vh;
  border-radius: 10%;
  height: 100%;
}

.resultList {
  list-style: none;
  width: 100%;
  margin: 0 auto;

}
.resultList li{
  display: inline;
  float: left;
  width: 20%;
}

#resultContainer {
  width: 100%;
  display: table;
  margin: 0 auto;
}

#condition {
  font-size: 2vh;
}

#conditionIcon {
  margin-bottom: -2vh;
}

#date {
  font-size: 2vh;
  margin-top : 0vh;
}

#tempRange {
  font-size: 2vh;
  margin-top: -3vh;
}

#cityRegion {
  font-size: 2vh;
  margin-top: -3vh;
}
